body {
    <!-- background-color: red; -->
}

div {
    outline: 1px solid black;
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.bluebox {
    width: 920px;
    background-color: #0000FF;
    height: 90px;
}

.yellowinsideblue {
    width: 300px;
    background-color: yellow;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowinsideblue2 {
    width: 560px;
    background-color: yellow;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.emptygreen {
    width: 920px;
    background-color: lawngreen;
    height: 500px;
    float: left;
}

.red4boxes {
    width: 920px;
    background-color: red;
    height: 450px;
    float: left;
}

.yellowinsideredlong {
    width: 880px;
    background-color: yellow;
    height: 110px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowinsideredsquare {
    width: 280px;
    height: 280px;
    background-color: yellow;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.bluebox17 {
    width: 920px;
    background-color: #0000FF;
    height: 800px;
    float: left;
    
}

.yellowinsidebluelong {
    width: 880px;
    background-color: yellow;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowinsidebluesquare {
    width: 205px;
    height: 205px;
    background-color: yellow;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.greenbox4 {
    width: 920px;
    height: 590px;
    background-color: lawngreen;
    float: left;
}

.yellowinsidegreenlong {
    width: 880px;
    background-color: yellow;
    height: 130px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowinsidegreensquare {
    width: 280px;
    height: 400px;
    background-color: yellow;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.redbox3 {
    width: 920px;
    height: 620px;
    background-color: red;
    float: left;
}

.yellowinsidered2long {
    width: 880px;
    background-color: yellow;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowinsidered2square {
    width: 550px;
    height: 480px;
    background-color: yellow;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowinsidered2squaresmall {
    width: 310px;
    height: 310px;
    background-color: yellow;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.finalblue {
    width: 920px;
    height: 90px;
    background-color: blue;
    float: left;
}
