body {
    <!-- background-color: red; -->
}

div {
    outline: 1px solid black;
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.bluebox {
    width: 920px;
    background-color: #0000FF;
    height: 90px;
}

.yellowinsideblue {
    width: 300px;
    background-color: yellow;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowinsideblue2 {
    width: 560px;
    background-color: yellow;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}


.submenu {
    width: 920px;
    background-color: red;
    height: 500px;
    float: left;
}

.content {
    width: 700px;
    background-color: lawngreen;
    height: 500px;
    float: left;
}
