body {
    <!-- background-color: red; -->
}

div {
    outline: 1px solid black;
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.bluebox {
    width: 920px;
    background-color: #0000FF;
    height: 90px;
}

.yellowinsideblue {
    width: 300px;
    background-color: yellow;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowinsideblue2 {
    width: 560px;
    background-color: yellow;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.emptygreen {
    width: 920px;
    background-color: lawngreen;
    height: 500px;
    float: left;
}

.red4boxes {
    width: 920px;
    background-color: red;
    height: 900px;
    float: left;
}

.yellowinsideredlong {
    width: 880px;
    background-color: yellow;
    height: 110px;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.yellowsideredsquare {
    width: 210;
    height: 210;
    background-color: yellow;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
