div {
    
    text-decoration-color: white;
}

.container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: white;
    color: #e72989;
    height: 90px;
}

.whiteboxmain {
    width: 920px;
    background-color: white;
    height: 920px;
    margin-left: auto;
    margin-right: auto;
}


@import url('https://fonts.googleapis.com/css?family=Lato');


.nav {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    font color: #e72989;
    font-family: 'Lato', sans-serif;
}

.logo {
    float: left;
    margin-top: 35px;
    font-size: 1.4rem;
}

.links {
    float: right;
    margin-top: 40px;
    font color: #e72989;
    font-size: 0.75rem;
}

.links a {
    color: #e72989;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.banner {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    height: 920px;
}

.banner img{
    max-width: 920px;
    width: 100%;
}

@media screen and (max-width:480px) {
    body {
        background-color: white;
    }

.logo {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.links {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

}

.aboutparagraph {
    width: 910px;
    height: 0px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    color: #2f6bb3;
    font-family: 'Lato', sans-serif;
    border-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;
    border-color: #e72989;
    border-width: medium;
}

.multibox16back {
    width: 920px;
    background-color: #0;
    height: 800px;
    margin-left: auto;
    margin-right: auto; 
}

.banner2 {
    background-color: yellow;
    padding: 0;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    height: 280px;
    width: 280px;
}

.banner2 img {
    max-width: 280px;
    width: 100%; 
}

.banner3{
    background-color: white;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    float: center;
    height: auto;
    width: 920px;
}

.banner3 img{
    max-width: 920px;
    width: 100%;
}

* {box-sizing: border-box}

/* Slideshow Container */
.slideshow-container {
    max-width: 920px;
    position: relative;
    margin: auto;
}

/* Hide the images by defult */
.myslides {
    display: none;
}

/* Next & Previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background colour with a blittle bit see through */
.pre:hover, .next:hover {
    background-color: rgba(0,0,0,0.8)
}

/* Caption Text */
.text {
    color:#f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/2 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active .dot:hover {
    background-color: #717171;
}

/* Fadding animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity 1}
}